body {
  color: #053742;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/* Headers and paragraphs */

h1 {
  color: #053742;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Nanum Gothic Coding", monospace;
}

h2 {
  color: #053742;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

.description {
  margin-bottom: 0;
}

h3 {
  color: #053742;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}

p {
  line-height: 1.75;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  width: 60%;
  margin: 100px auto;
}

/* Containers */

.top-container {
  background-color: #faf3f3;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #faf3f3;
  margin: 0;
  padding: 50px 100px;
}

.bottom-container {
  background-color: #a7bbc7;
  padding: 50px 0 10px;
}

.skill-row {
  width: 75%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75em;
  padding: 20px 0;
}

/* Images */

.icons {
  font-size: 0.75em;
}

.profile-picture {
  width: 250px;
}

.drums-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.code-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.icons {
  font-size: 0.75rem;
}

/* Button and links */

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #053742;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #a7bbc7;
  text-decoration: none;
}

a {
  color: #1a374d;
  font-family: "Open Sans", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}
